{
  "plugins": ["@babel/plugin-transform-spread", "babel-plugin-transform-es2015-spread", "babel-plugin-transform-object-rest-spread"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ],
    "minify"
  ],
}
